.account-title {
	font-size: 24px;
	font-family: Arial, Hevetica, sans-serif;
	text-align: center;
	font-weight: bold;
	margin-bottom: 32px;
}

.account-info {
	width: fit-content;
	margin: auto;
}

.accounts-container {
	display: flex;
	justify-content: center;
}
.accounts-list {
	display: flex;
	flex-direction: column;
	width: 600px;
}

.account-card {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-size: 1.2rem;

	height: 64px;
	padding: 12px;
	border: 1px solid #414141;
	border-radius: 25px;
	margin-bottom: 32px;
	cursor: pointer;
}

.account-type {
	font-weight: bold;
}

.action-card {
	width: 600px;
	padding: 16px;
	border: 1px solid black;
	margin-bottom: 32px;
}

.action-title {
	font-size: 20px;
	font-family: Arial, Hevetica, sans-serif;

	font-weight: bold;
	margin-bottom: 16px;
}

.amount-input {
	padding: 4px;
	font-size: 16px;
	margin-right: 24px;
}

.confirm-button {
	background-color: #128dff;
	color: #ffffff;
	width: 100px;
	height: 32px;
	border: none;
	border-radius: 25px;
	font-weight: bold;
	cursor: pointer;
}

.confirm-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.history-box {
	width: 600px;
	padding: 16px;
	height: 200px;
	overflow: auto;
	border: 1px solid black;
	margin-bottom: 32px;
}

.currency-selection {
	display: flex;
	justify-content: space-between;
	width: 200px;
	margin: 16px 0 0 0;
}
