h2 {
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
  width: 30%;
  margin: auto;
}

.customer-buttons {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  border: 1px solid #414141;
  border-radius: 25px;
  font-weight: bold;
  margin-bottom: 24px;
  cursor: pointer;
}

.back-button {
  font-family: Arial, Hevetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 32px;
}

.alerts-list {
  text-align: left;
  color: red;
  line-height: 1.5;
}

.alert-title {
  font-family: Arial, Hevetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 16px;
}
